.App {
  text-align: left;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  color: white;
}
.App-link {
  color: #61dafb;
}
.Menu li{
  display: inline;
  list-style-type: none;
  color:white;
   margin: 5px;
  padding: 2px;
}
.Menu a:visited{
  color:darkkhaki;
}
